/* CSS For landing page */
.main {
  max-width: 100% !important;
  padding: 0px;
}
section {
  padding: 60px 0px;
}
.container {
  align-items: center;
  margin: auto;
  width: 90%;
}
.underlineGreen {
  border-bottom: 5px solid #1CD61D;
}
.greenAccent {
  color: #1CD61D;
}
.redAccent {
  color: red;
}
h2 {
  font-size: 1.8em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 650px;
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 1000px;
  }
  h2 {
    font-size: 2em;
  }
}
/* Hero */
.hero-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.hero-column h1 {
  font-size: 45px !important;
}
.hero-column img {
  margin: auto;
  margin-top: -30px;

  object-fit: cover;
  object-position: top;
  height: 180px;
  width: 200px;
  margin-bottom: 40px;
}
.hero-column h1 {
  font-size: 50px;
}
.hero-column h3 {
  padding: 40px 0px;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }
  .hero-column {
    width: 50%;
  }
  .hero-column img {
    margin: 0 0 0 auto;
    width: 60%;
    height: auto;
  }
  .hero-column h1 {
    font-size: inherit;
  }
}
/* Features */
.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-column img {
  margin: auto;
  width: 60%;
}
.features-column h2 {
  padding: 40px 0;
}
.features-column h3 {
  padding: 20px 0;
}
.icon-box-row {
  display: flex
}
.icon-box-row i {
  color: #1CD61D;
  padding: 20px 15px 0px 0px;
}
@media only screen and (min-width: 768px) {
  .features-container {
    flex-direction: row;
  }
  .features-column {
    width: 50%;
  }
  .features-column img {
    margin: 0 auto 0 0;
    width: 60%;
  }
}
/* Download */
.download {
  width: 100%;
}
.download-container {
  text-align: center;
  background-color: #000;
  padding: 25px 0 0 0;
}
.download-container h2 {
  color: #fff;
  line-height: 1.6;
  padding: 0 20px;
}
.download-container img {
  margin: auto;
  padding: 25px 0;
}
@media only screen and (min-width: 768px) {
  .download-container {
    padding: 40px 0 0 0;
  }
  .download-container h2 {
    line-height: 2;
  }
  .download-container img {
    padding: 40px 0;
  }
}
/* Upgrade */
.upgrade-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
}
.upgrade-column {
  padding: 20px 0;
}
.upgrade-column img {
  width: 60%;
  margin: auto;
}
.upgrade-column h2 {
  padding: 0 0 40px 0;
}
.upgrade-column h4 {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 40px;
}
.icon-box-column h3 {
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  .upgrade-container {
    flex-direction: row;
  }
  .upgrade-column {
    width: 50%;
  }
  .upgrade-column img {
    width: 60%;
    margin: 0 0 0 auto  !important;
  }
  .upgrade-column h4{
    text-align: right;
    padding: 20px 0;
  }
}
/* Privacy */
.privacy {
  width: 100%;
}
.privacy-container {
  text-align: center;
  background-color: #000;
  padding: 40px;
}
.privacy-header h2 {
  color: #fff;
  line-height: 1.6;
  padding: 20px 0;
}
.privacy-header p {
  color: #fff;
  text-align: left;
}
.privacy-footer * {
  color: #fff;
  font-size: 0.9em;
}
.privacy-footer a {
  text-decoration: underline;
}
.privacy-lists {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.privacy-column {
  padding: 30px 0;
}
.privacy-column h3 {
  color: #fff;
  padding: 20px;
}
.privacy-column ul {
  color: #fff;
  text-align: left;
  list-style-type: none;
}
.privacy-column li {
  padding: 7px;
}
.yesList li:before {
  content: '\2705';
  margin-left: -20px;
  margin-right: 10px;
}
.noList li:before {
  content: '\274C';
  margin-left: -20px;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .privacy-container {
    padding: 40px 0;
  }
  .privacy-header {
    width: 1000px;
    margin: auto;
  }
  .privacy-header h2 {
    line-height: 1.4;
    font-size: 2.5em;
  }
  .privacy-header p {
    text-align: center;
  }
  .privacy-lists {
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    margin: auto;
  }
  .privacy-column {
    width: 50%;
    padding: 10px 20px;
  }
}
